body {
  font-family: "Reem Kufi Fun", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
}

#logo {
  width: 30%;
  margin-right: 2em;
  background-color: rgb(67, 181, 31);
  text-align: center;
  border-bottom-right-radius: 20px;
}

#logo > img {
  max-height: 10vh;
  /* width: 100%; */
}

.phone > img {
  height: 30px;
  width: 30px;
}

.phone {
  display: flex;
  width: 20%;
}

nav,
.phone > p,
.phone > img {
  margin: auto 0;
}

nav > a {
  padding: 0 2em;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.664);
}

nav {
  padding: 1em;
  border: 1px solid rgb(67, 181, 31);
  border-radius: 10px;
  max-width: 50%;
}

nav > a:hover {
  text-decoration: underline;
}

nav > a:active {
  color: rgb(67, 181, 31);
}

.phone > p {
  padding: 1em;
  color: rgba(0, 0, 0, 0.493);
}

.topContainer {
  display: flex;
  width: 100%;
}

.filtersContainer {
  width: 30%;
}

.filtersContainer > ul {
  padding: 2em;
  margin: 2em;
  border: 1px solid rgb(67, 181, 31);
  border-radius: 10px;
  list-style: none;
  color: rgba(0, 0, 0, 0.493);
}

.filtersContainer > ul > li {
  padding-bottom: 0.5em;
  font-size: larger;
}

.filtersContainer > ul > li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.active {
  text-decoration: underline;
}

.imageContainer {
  width: 70%;
  box-sizing: border-box;
  margin: 2em;
  border-radius: 10px;
  background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/assortment-of-colorful-ripe-tropical-fruits-top-royalty-free-image-995518546-1564092355.jpg");
}

.itemsContainer {
  margin: 2em;
  background-color: rgba(0, 0, 0, 0.021);
  padding: 2em;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  gap: 1em;
}

.itemCard {
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 2em;
}

.itemCard > img {
  margin-top: 1em;
  max-width: 80%;
  border-radius: 10px;
}

.itemCard > button {
  margin: 1em;
  border: 1px solid rgb(67, 181, 31);
  border-radius: 10px;
  padding: 10px;
}

#loading {
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid rgb(67, 181, 31);
  border-radius: 100%;
  margin: 1% auto;
  display: none;
  animation: spin 1s infinite linear;
}

#loading.display {
  display: block;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.formContainer {
  margin: 2em auto;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.021);
  padding: 2em;
  border-radius: 20px;
}

.formContainer > h2 {
  text-align: center;
  padding-bottom: 1em;
}

form[name="addItem"] {
  width: 80%;
  margin: 1em auto;
}

form[name="addItem"] input[type="text"],
form[name="addItem"] input[type="number"],
form[name="addItem"] textarea {
  display: block;
  width: 100%;
  margin: 1em 0;
}

.formButtons input[type="submit"],
.formButtons button {
  width: 30%;
  border: 1px solid rgb(67, 181, 31);
  border-radius: 10px;
  padding: 10px;
}

.formButtons {
  display: flex;
  justify-content: space-between;
}

form[name="addItem"] input[type="submit"] {
  background-color: rgb(67, 181, 31);
  color: white;
}

form[name="addItem"] input[type="submit"]:hover {
  background-color: rgb(51, 134, 26);
}

.response {
  margin: 1em auto;
  width: 80%;
  padding: 1em 2em;
  border-radius: 20px;
}

footer {
  text-align: center;
}

.success {
  background-color: rgb(120, 207, 93);
}

.fail {
  background-color: rgb(235, 102, 102);
}

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}
